<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <!-- Anything you want -->
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; <%= Date.now() %>
        <a href="/"><%= process.env.APP_NAME %></a>.</strong> All rights reserved.
</footer>